# Import Libraries

## Libraries

In [25]:
# data manipulation
import pandas as pd
import numpy as np
import re

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

## Functions

In [26]:
# overview
def check_overview(df):
    '''
    df_overview adalah fungsi yang digunakan untuk melihat informasi seputar dataset.

    Argumen:
    df = dataset yang digunakan.

    Output:
    Informasi overall dataset, missing value, duplicated value dan jumlah unique value setiap kolom.
    '''
    # df overview
    print(df.info())

    # cek missing value
    print(f"\nmissing values: {round(((df.isna().sum().sum())/len(df))*100, 2)}% \n{df.isna().sum()[df.isna().sum()>0]}")

    # cek duplicated value
    print(f"\nduplicated values: {round(((df.duplicated().sum())/len(df))*100,2)}% \n{df.duplicated().sum()}\n")

    # cek nama kolom & jumlah unique value
    for col in df:
        print(f'{col}-#nunique: {df[col].nunique()}')

# check skill in job description
def check_skills(description, skills):
    # convert job_description to str if its float
    if isinstance(description, float):
        description = str(description)
    # convert description to lowercase
    description_lower = description.lower()
    # initialize empty list to store skills
    found_skills = []

    # loop search for skills
    for skill in skills:
        # convert skill to lower & escape any special character
        skill_pattern = re.escape(skill.lower())
        # search skill as whole word
        pattern = r'\b{}\b'.format(skill_pattern)
        # search skill pattern in description
        if re.search(pattern, description_lower):
            # add skill to the list
            found_skills.append(skill)

    # return unknown if no skills are found
    return found_skills if found_skills else ['Unknown']

# create new column
def add_columns(df, skills, column_name):
    # apply check_skills function
    df[column_name] = df['job_description'].apply(lambda x: check_skills(x, skills))
    return df

# Load Data

## Linkedin

In [27]:
# load linkedin
linkedin = pd.read_excel('linkedin.xlsx')
linkedin.head()

,Job Title,Company Name,Location,Description,Job Link
0,System Analyst,TOG Indonesia,"Yogyakarta, Indonesia (On-site)","Responsibilities\nDeploy, maintain, and troubl...",https://www.linkedin.com/jobs/view/4076765593/...
1,Data Analyst,TUKR,"Jakarta, Indonesia (On-site)",TUKR is a rapidly expanding renewable commodit...,https://www.linkedin.com/jobs/view/4080741810/...
2,Supply Chain Supervisor,SEVEN Retail Group,"Jakarta, Indonesia (On-site)",Job Responsibility:\nCreate the company's supp...,https://www.linkedin.com/jobs/view/4089476927/...
3,Data Scientist,Provenir,"Jakarta, Indonesia (Hybrid)",Who We Are \n\nProvenir is a global fintech co...,https://www.linkedin.com/jobs/view/4076157340/...
4,Head of Product (Data),HTC Global Services,"Central Jakarta, Jakarta, Indonesia (On-site)",Formal Education and Work Experience :\nBachel...,https://www.linkedin.com/jobs/view/4099353940/...

In [28]:
# linkedin overview
check_overview(linkedin)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Job Title     386 non-null    object
 1   Company Name  386 non-null    object
 2   Location      386 non-null    object
 3   Description   377 non-null    object
 4   Job Link      386 non-null    object
dtypes: object(5)
memory usage: 15.2+ KB
None

missing values: 2.33%
Description    9
dtype: int64

duplicated values: 1.81%
7

Job Title-#nunique: 266
Company Name-#nunique: 152
Location-#nunique: 46
Description-#nunique: 279
Job Link-#nunique: 379

## Jobstreet

In [29]:
# load jobstreet
jobstreet = pd.read_csv('jobstreet.csv')
jobstreet.head()

,Job Title,Company,Job Description,Location,Link
0,Data Analyst,PT Indocater,RequirementBachelor degree of any majorExperie...,"Jakarta Barat, Jakarta Raya",https://www.jobstreet.co.id/id/job/80800585?ty...
1,Industrial Data Scientist,"PT. Citradimensi Arthali (""CEDEA"")",We are seeking a highly skilled Industrial Dat...,"Jakarta Pusat, Jakarta Raya",https://www.jobstreet.co.id/id/job/80795243?ty...
2,Data Scientist,Geniebook Pte. Ltd.,Role:We are looking for a Data Scientist that ...,"Surabaya, Jawa Timur",https://www.jobstreet.co.id/id/job/80628139?ty...
3,Data Scientist,"PT SMART,Tbk","Job Description:Design, gather, research, anal...",Jakarta Raya,https://www.jobstreet.co.id/id/job/80795482?ty...
4,Data Scientist,PT Reycom Document Solusi,"Job description :Collecting, cleaning, and org...","Jakarta Pusat, Jakarta Raya",https://www.jobstreet.co.id/id/job/80697260?ty...

In [30]:
# jobstreet overview
check_overview(jobstreet)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Job Title        287 non-null    object
 1   Company          287 non-null    object
 2   Job Description  287 non-null    object
 3   Location         287 non-null    object
 4   Link             287 non-null    object
dtypes: object(5)
memory usage: 11.3+ KB
None

missing values: 0.0%
Series([], dtype: int64)

duplicated values: 25.44%
73

Job Title-#nunique: 142
Company-#nunique: 154
Job Description-#nunique: 194
Location-#nunique: 49
Link-#nunique: 214

# Feature Engineering

## Linkedin

In [31]:
# show column name
linkedin.columns

Index(['Job Title', 'Company Name', 'Location', 'Description', 'Job Link'], dtype='object')

In [32]:
# change column name
linkedin.rename(columns={'Description' : 'job_description'}, inplace=True)

# change format column name
linkedin.rename(columns=lambda x: x.replace(' ', '_').lower(), inplace=True)

# check
linkedin.columns

Index(['job_title', 'company_name', 'location', 'job_description', 'job_link'], dtype='object')

## Jobstreet

In [33]:
# show column name
jobstreet.columns

Index(['Job Title', 'Company', 'Job Description', 'Location', 'Link'], dtype='object')

In [34]:
# change column name
jobstreet.rename(columns={'Company' : 'company_name',
                          'Link' : 'job_link'}, inplace=True)

# change format column name
jobstreet.rename(columns=lambda x: x.replace(' ', '_').lower(), inplace=True)

# reindex column
# order
order = ['job_title', 'company_name', 'location', 'job_description', 'job_link']
# reindex
jobstreet = jobstreet.reindex(columns=order)

# check
jobstreet.columns

Index(['job_title', 'company_name', 'location', 'job_description', 'job_link'], dtype='object')

## Join Table

In [35]:
# merge linkedin & jobstreet
job = pd.concat([linkedin, jobstreet], ignore_index=True)

# overview
job.sample(5)

,job_title,company_name,location,job_description,job_link
456,Dosen Prodi Data Science (UBM Kampus Serpong),Universitas Bunda Mulia (Yayasan Pendidikan Bu...,"Tangerang, Banten",Kualifikasi Umum :Usia maksimal 45 tahunMampu ...,https://www.jobstreet.co.id/id/job/80547284?ty...
12,Associate Product Manager - Data,Kredivo Group,Jakarta Metropolitan Area (On-site),We are looking for Associate Product Manager (...,https://www.linkedin.com/jobs/view/4044916022/...
671,Imaging Geophysicist Intern,Veridien,"Kebayoran Lama, Jakarta Raya","Viridien () is an advanced technology, digital...",https://www.jobstreet.co.id/id/job/80007487?ty...
659,Social Media Specialist,PT Cybertrend Intrabuana,Jakarta Raya,"We are SmartCyber, member of Cybertrend, one o...",https://www.jobstreet.co.id/id/job/79662343?ty...
75,QA Engineer (ShopeePay) - Sea Labs,Sea,"Jakarta, Indonesia (On-site)",Job Description:\n\nAs a Quality Assurance (QA...,https://www.linkedin.com/jobs/view/3806667811/...

In [36]:
# overview
check_overview(job)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_title        673 non-null    object
 1   company_name     673 non-null    object
 2   location         673 non-null    object
 3   job_description  664 non-null    object
 4   job_link         673 non-null    object
dtypes: object(5)
memory usage: 26.4+ KB
None

missing values: 1.34%
job_description    9
dtype: int64

duplicated values: 11.89%
80

job_title-#nunique: 401
company_name-#nunique: 302
location-#nunique: 95
job_description-#nunique: 473
job_link-#nunique: 593

## Cleaning

### Handling Duplicate

In [37]:
# drop duplicate
job.drop_duplicates(keep='first', inplace=True)

# check
job.duplicated().sum()

0

### Handling Missing Value

In [38]:
# drop missing value
job.dropna(inplace=True)

# check
job.isna().sum().sum()

0

### White Space

In [39]:
# delete regex character
job['job_description'] = job['job_description'].str.replace(r'[\n\t\r\xa0]', ' ', regex=True)

# remove double space
job['job_description'] = job['job_description'].str.replace('  ', ' ')

# remve white space
job = job.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# check
job.head()

C:\Users\Fadhiil Dzaki\AppData\Local\Temp\ipykernel_20824\1955353001.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  job = job.applymap(lambda x: x.strip() if isinstance(x, str) else x)

,job_title,company_name,location,job_description,job_link
0,System Analyst,TOG Indonesia,"Yogyakarta, Indonesia (On-site)","Responsibilities Deploy, maintain, and trouble...",https://www.linkedin.com/jobs/view/4076765593/...
1,Data Analyst,TUKR,"Jakarta, Indonesia (On-site)",TUKR is a rapidly expanding renewable commodit...,https://www.linkedin.com/jobs/view/4080741810/...
2,Supply Chain Supervisor,SEVEN Retail Group,"Jakarta, Indonesia (On-site)",Job Responsibility: Create the company's suppl...,https://www.linkedin.com/jobs/view/4089476927/...
3,Data Scientist,Provenir,"Jakarta, Indonesia (Hybrid)",Who We Are Provenir is a global fintech compa...,https://www.linkedin.com/jobs/view/4076157340/...
4,Head of Product (Data),HTC Global Services,"Central Jakarta, Jakarta, Indonesia (On-site)",Formal Education and Work Experience : Bachelo...,https://www.linkedin.com/jobs/view/4099353940/...

### Cardinality Hanldling

In [40]:
# cities list
cities = [
    'Jakarta', 'Bali', 'Bandung', 'Surabaya', 'Tangerang', 'Makassar',
    'Yogyakarta', 'Semarang', 'Batam', 'Padang', 'Sukabumi', 'Depok',
    'Malang', 'Surakarta', 'Bekasi', 'Cikarang', 'Bogor', 'Cimahi',
    'Demak', 'Sumbawa', 'Mojosari', 'Kosambi', 'Legok', 'Pekan Baru',
    'Karawaci', 'Medan', 'Palembang', 'Banjarmasin'
]

# regroup city
for city in cities:
    job['location'] = np.where(job['location'].str.contains(city, case=False), city, job['location'])

# remove "(Remote)", "(On-site)", "(Hybrid)"
job['location'] = job['location'].str.replace(r'\(.*?\)', '', regex=True)

# check
job['location'].unique()

array(['Yogyakarta', 'Jakarta', 'Bali', 'Indonesia ', 'Batam', 'Bandung',
       'Padang', 'Sukabumi', 'Semarang', 'Depok', 'Malang', 'Tangerang',
       'APAC ', 'Surabaya', 'Surakarta', 'Banten, Indonesia ',
       'South Sulawesi, Indonesia ', 'Cikarang', 'Bogor', 'Cimahi',
       'Demak', 'Sumbawa', 'Bengkulu', 'Mojosari', 'Jawa Barat', 'Bekasi',
       'Kosambi', 'Legok', 'Pekanbaru, Riau', 'Karawaci', 'Medan',
       'Palembang', 'Jawa Timur', 'Banjarmasin', 'Makassar', 'Indonesia'],
      dtype=object)

## Feature Creation

In [41]:
# skills  to check
list_skills = [
    # Programming Languages
    'SQL', 'Python', 'R', 'JavaScript', 'C#', 'C++', 'Scala', 'Julia', 'MATLAB', 'Bash', 'Go', 'Ruby', 'Perl',
    
    # Database
    'MySQL', 'Postgres', 'MongoDB', 'NoSQL', 'Cassandra', 'Snowflake', 'Redshift', 'ElasticSearch', 'SQLite', 'Oracle', 
    'Neo4j', 'Firebase Realtime Database', 'Amazon DynamoDB',

    # Cloud Platforms
    'Azure', 'AWS', 'GCP', 'Terraform', 'Ansible', 'IBM Cloud', 'Alibaba Cloud', 'Heroku', 'DigitalOcean', 'google cloud platform',

    # Data Engineering Tools
    'Hadoop', 'Spark', 'Hive', 'MapReduce', 'Kafka', 'Airflow', 'Talend', 'DBT', 'Flink', 'NiFi', 'Presto',
    'Data Pipeline', 'ETL', 'Apache Beam', 'AWS Glue', 'Google Dataflow', 'Databricks', 'BigQuery', 'Amazon Redshift',

    # Machine Learning Tools
    'Machine Learning', 'TensorFlow', 'Keras', 'PyTorch', 'scikit-learn', 'XGBoost', 'LightGBM', 'CatBoost', 
    'H2O.ai', 'spaCy', 'NLTK', 'OpenCV', 'Deep Learning', 'Hugging Face Transformers', 'Stanford NLP',
    'SAS', 'Orange3', 'AutoML', 'Decision Trees', 'Random Forest', 'Gradient Boosting Machines', 'Hyperparameter Tuning',
    'Bayesian Optimization', 'Reinforcement Learning', 'GANs', 'RNN', 'CNN',

    # Data Analysis & Visualization
    'pandas', 'NumPy', 'Excel', 'Tableau', 'Power BI', 'Looker', 'Matplotlib', 'Seaborn', 'ggplot2', 'D3.js', 
    'Plotly', 'Bokeh', 'Altair', 'Dash', 'SAP Analytics Cloud', 'QlikView', 'Google Data Studio', 'Kibana',

    # MLOps & Deployment
    'CI/CD', 'MLOps', 'Docker', 'Kubernetes', 'WandB', 'Neptune', 'MLflow', 'TensorFlow Serving', 'TorchServe',
    'Kubeflow', 'Seldon Core', 'FastAPI', 'Flask', 'Streamlit', 'Gradio', 'Model Deployment', 'Version Control',

    # Monitoring & Infrastructure
    'Prometheus', 'Grafana', 'ERP', 'Datadog', 'New Relic', 'Splunk', 'CloudWatch', 'Nagios', 'Zabbix',

    # Big Data
    'Big Data', 'Spark', 'Hadoop', 'Pig', 'Impala', 'HBase', 'Storm', 'Druid', 'Cloudera', 'AWS EMR',
    
    # Experimentation & Workflow
    'Git', 'GitHub', 'GitLab', 'Bitbucket', 'JIRA', 'Trello', 'RapidMiner', 'Alteryx', 'Knime', 'Experiment Tracking',
    'A/B Testing', 'Version Control', 'Kanban', 'Confluence',

    # Statistik & Domain Tools
    'SPSS', 'Project Management', 'Statistics', 'Time Series Analysis', 'Forecasting', 'Bayesian Inference',
    'Econometrics', 'Data Wrangling', 'Data Cleaning', 'Feature Engineering', 'Dimensionality Reduction', 
    'PCA', 't-SNE', 'Data Normalization', 'Outlier Detection', 'Hypothesis Testing', 'ANOVA',

    # Soft Skills
    'Communication', 'Storytelling with Data', 'Domain Knowledge', 'Critical Thinking', 'Problem Solving',
    'Collaboration', 'Stakeholder Management', 'Presentation Skills'
]

# Tambahkan kolom 'Skills' ke DataFrame
job = add_columns(job, list_skills, column_name='skills')

# check
job.sample(5)

,job_title,company_name,location,job_description,job_link,skills
432,Quantitative Analyst,TurnkeyID,Surabaya,üîç Requirements:-Gen ‚ÄúY‚Äù and ‚ÄúZ‚Äù are welcome to...,https://www.jobstreet.co.id/id/job/80740363?ty...,"[SQL, Python, R, MATLAB, Statistics]"
307,T&T Consultant - Penetration Tester - ID,Deloitte,Jakarta,Date: 9 Dec 2024 Service Line / Portfolios: Cy...,https://www.linkedin.com/jobs/view/4099383290/...,[Excel]
37,App Operations (Marketplace App & Mobile) - Se...,Shopee,Jakarta,About The Team: About Sea Labs Indonesia: Sea ...,https://www.linkedin.com/jobs/view/4088756489/...,"[Git, Communication, Critical Thinking, Proble..."
371,Services Architect,"NTT DATA, Inc.",Jakarta,Make an impact with NTT DATA Join a company th...,https://www.linkedin.com/jobs/view/4084618407/...,"[R, Azure, AWS, GCP]"
335,GoTo Financial - Growth Analyst [GoPay Pinjam],GoTo Group,Jakarta,About The Role As a Growth Analyst in Gopay Pi...,https://www.linkedin.com/jobs/view/4042922057/...,"[SQL, Big Data, Communication, Presentation Sk..."

In [42]:
# cleaned df overview
job.info()
print('job_link:',job['job_link'].nunique())

<class 'pandas.core.frame.DataFrame'>
Index: 584 entries, 0 to 672
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_title        584 non-null    object
 1   company_name     584 non-null    object
 2   location         584 non-null    object
 3   job_description  584 non-null    object
 4   job_link         584 non-null    object
 5   skills           584 non-null    object
dtypes: object(6)
memory usage: 31.9+ KB
job_link: 584

## Lowercase

In [43]:
# Convert all string data to lowercase 
job = job.applymap(lambda x: x.lower() if isinstance(x, str) else x)

# Convert all elements in the 'skills' column to lowercase
job['skills'] = job['skills'].apply(lambda skills: [skill.lower() for skill in skills])

job.sample(5)

C:\Users\Fadhiil Dzaki\AppData\Local\Temp\ipykernel_20824\1158627329.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  job = job.applymap(lambda x: x.lower() if isinstance(x, str) else x)

,job_title,company_name,location,job_description,job_link,skills
72,technical designer,biasa group,bali,about biasa: biasa is a luxury resort wear bra...,https://www.linkedin.com/jobs/view/4085561444/...,[excel]
318,software engineer,vlink inc,jakarta,qualifications: bachelor‚Äôs degree in computer ...,https://www.linkedin.com/jobs/view/4086936443/...,"[version control, git, version control, commun..."
481,junior gis specialist,pengiklan anonim,yogyakarta,about uskami adalah anak perusahaan bumn bersk...,https://www.jobstreet.co.id/id/job/80548113?ty...,"[python, r, machine learning]"
178,financial technology junior consultant (fso),ey,jakarta,why should i work for ernst & young's financia...,https://www.linkedin.com/jobs/view/3940825667/...,"[project management, communication]"
495,data migration specialist,pt bumi amartha teknologi mandiri,jakarta,role descriptions:oversee and manage the overa...,https://www.jobstreet.co.id/id/job/80295926?ty...,"[project management, communication]"

# Save Cleaned Data

In [44]:
# save to csv
job.to_csv('job_data.csv', index=False)